{% extends 'store/boang.html' %}
{% load static %}

{% block content %}
    

    <div class="container" style="color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; ">
        
        <h2>Login</h2>
        <!-- {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %} -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
